/* 
--- 1. Typography system

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weight:
Default: 400

- Line heights:
Default: 1

--- 2. Colors

- Primary: #e67e22

- Tints: #fdf2e9

- Shades: #cf711f

- Accents:

- Grays:
#555

--- 5. Shadows


--- 6. Border radius


--- 7. Whitespace

- Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

/* ============================== */
/* General Components */
/* ============================== */
.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;

    transition: all 0.3s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: #fff;
}

.btn-full:hover,
.btn-full:active {
    background-color: #cf711f;
    color: #fff;
}

.btn-outline:link,
.btn-outline:visited {
    background-color: #fff;
    color: #555;
}

.btn-outline:hover,
.btn-outline:active {
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.margin-right-sm {
    margin-right: 1.6rem;
}

/* ============================== */
/* Header */
/* ============================== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
}

.logo {
    height: 2.4rem;
}

